{% extends 'base.html' %}
{% block title %}update task{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<style>
.btn-add{
    background-color: #3e566d;
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-add:hover{
    background-color: #556f8b;
    color: white;
}

.btn-clear{
    background-color: #8bafd0;
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-clear:hover{
    background-color: #556f8b;
    color: white;
}
.btn-delete{
    background-color: #7b1010; 
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-delete:hover{
    background-color: #b82121; 
    color: white;

}
</style>
<div class="mb-3 d-flex justify-content-end">
    <form method="post" action="{% url 'delete_task' task.id %}?next={{ request.GET.next }}">
        {% csrf_token %}
        <button type="submit" class="btn btn-delete">
            <i class="fa fa-trash"></i> Delete
        </button>
    </form>
</div>
<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        {{ form.title.label }}
        {{ form.title }}
    </div>

    <div class="mb-3">
        {{ form.body.label }}
        {{ form.body }}
    </div>

    <div class="form-check mb-3">
        {{ form.is_done }}
        {{ form.is_done.label }}
    </div>

    <div class="mb-3">
        <label class="form-label">{{ form.due_date.label }}</label>

        <div class="d-flex align-items-center">
            {{ form.due_date }}

            <button type="button"
            class="btn btn-clear ms-2"
            onclick="document.getElementById('id_due_date').value=''">
            Clear
            </button>
        </div>
    </div>

    <button class="btn btn-add">Update</button>

</form>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
flatpickr("#id_due_date", {
    dateFormat: "Y-m-d",
    allowInput: true
});
</script>

{% endblock %}